<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <p><strong><u>Add Tasks</u></strong></p>
    <form action="" method="POST">
        {% csrf_token %}
        {%for field in list%}
        <p>
            {{field.label}}
            {{field}}
        </p>
        {%endfor%}
        <p><button type="submit">Add to List</button></p>
    </form>
</body>
</html>