<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <p style="font-size:30px;"><u><strong>Your Profile</strong></p></u>
    <p><strong><u>Username</u>:-{{profile.username}}</strong></p>
    <p><strong><u>First Name</u>:-{{profile.first_name}}</strong></p>
    <p><strong><u>Last Name</u>:-{{profile.last_name}}</strong></p>
    <p><strong><u>Profile Pic</u>:-</strong></p><img src="{{profile.profile_picture.url}}" style="height:100px;width:100px;">
    <p><strong><u>Email</u>:-{{profile.email}}</strong></p>
    <form action="{% url "display"%}">
        <p><button>BACK TO HOME</button></p>
    </form>
</body>
</html>